version: '3.9'

services:
  web:
    build: .
    command: gunicorn SoundWave.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DJANGO_ALLOWED_HOSTS=*
      - DJANGO_DB_ENGINE=sqlite

volumes:
  media_volume:
  static_volume: